@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
 font-family: "Roboto", sans-serif;
 padding: 0;
 margin: 0;
 scroll-behavior: smooth;
 transition: all 200ms ease;
}
:root {
 --primary: rgb(10, 16, 26);
 --border: rgba(63, 63, 70, 0.4);
 --title: rgb(244 244 244);
 --subtitle: rgb(161 161 170);
 --blue: rgb(56, 97, 251);
 --hover: rgb(20, 69, 247);
 --bg: rgb(6, 9, 14, 0.9);
 --padding: 4rem 1.2rem;
}
body.light {
 --primary: rgb(255, 255, 255);
 --border: rgba(202, 202, 202, 0.518);
 --title: rgb(17, 17, 19);
 --subtitle: rgb(82 82 91);
 --bg: rgba(226, 226, 226, 0.93);
}
body {
 background-color: var(--primary);
}
a {
 cursor: pointer;
}
/* Scroll */
::-webkit-scrollbar {
 width: 12px;
}
::-webkit-scrollbar-track {
 background: transparent;
}
::-webkit-scrollbar-thumb {
 background: var(--blue);
}
::-webkit-scrollbar-thumb:hover {
 background: var(--hover);
}
/* Header */
header {
 padding: 1.2rem;
}
header .container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
header .logo .title {
 color: var(--title);
 font-size: 1.7rem;
}
header .nav-bar ul {
 list-style: none;
 display: flex;
 gap: 25px;
}
header .nav-link {
 color: var(--title);
 font-size: 1.1rem;
 text-decoration: none;
 font-weight: bold;
}
header .nav-link:hover {
 color: var(--blue);
}
header .header-buttons a {
 margin-left: 15px;
 padding: 10px 18px;
 background-color: var(--blue);
 color: #fff;
 text-decoration: none;
 font-size: 1.02rem;
 font-weight: bold;
 border-radius: 8px;
}
header .header-buttons a:hover {
 background-color: var(--hover);
}
header .header-buttons #theme,
header .header-buttons #menu {
 margin-left: 7px;
 background-color: var(--bg);
 justify-content: center;
 text-align: center;
 border-radius: 50%;
 height: 2.9rem;
 width: 2.9rem;
 color: var(--title);
 border: 1px solid rgba(20, 69, 247, 0.273);
 cursor: pointer;
 opacity: 0.7;
}
header .header-buttons #menu {
 border-radius: 15px;
 display: none;
}
header .header-buttons #theme:hover,
header .header-buttons #menu:hover {
 border: 1px solid var(--blue);
 opacity: 1;
}
header .header-buttons #theme:active,
header .header-buttons #menu:active {
 scale: 0.93;
}
header .header-buttons i {
 font-size: 1.4rem;
}
/* Menu */
header .nav-fixed {
 position: fixed;
 z-index: 9999;
 right: 0;
 top: 0;
 width: 80%;
 height: 100%;
 background-color: var(--bg);
 display: flex;
 align-items: start;
 flex-direction: column;
 justify-content: center;
 gap: 1rem;
 transform: translateX(150%);
}
header .nav-fixed.open {
 transform: translateY(0);
}
header .nav-fixed ul {
 list-style: none;
}
header .nav-fixed .nav-link {
 font-size: 1.5rem;
 border-bottom: 3px solid var(--border);
 padding: 0 3.4rem;
 padding-bottom: 1rem;
 margin-bottom: 1rem;
 display: flex;
 justify-content: space-between;
 width: 100%;
 align-items: center;
}
header .nav-fixed .header-buttons {
 padding-bottom: 2rem;
}
header .nav-fixed .header-buttons a {
 padding: 1rem 5rem;
}
header .nav-fixed #close {
 position: fixed;
 top: 20px;
 right: 20px;
 color: var(--title);
 background-color: transparent;
 border: none;
 font-size: 2rem;
 cursor: pointer;
}
header .nav-fixed #close:hover {
 color: var(--hover);
}
/* Log in */
.log-in,
.sign-up {
 display: none;
 position: fixed;
 inset: 0;
 z-index: 9999999999;
 background-color: rgba(0, 0, 0, 0.461);
 width: 100%;
 height: 100%;
 overflow-y: scroll;
 background-attachment: fixed;
}
.sign-up {
 display: none;
}
.log-in.show {
 display: block;
}
.sign-up.active {
 display: block;
}
.no-scroll {
 overflow: hidden;
}
.login-box {
 width: 30%;
 border: 1px solid var(--border);
 padding: 1.6rem;
 background-color: var(--primary);
 margin-right: auto;
 margin-left: auto;
 border-radius: 10px;
 margin-top: 120px;
 text-align: center;
}
.login-box #closeIt {
 position: relative;
 margin-bottom: 7px;
 background-color: transparent;
 border: none;
 color: var(--title);
 font-size: 1.3rem;
 right: -48%;
 text-decoration: none;
 bottom: 11px;
 transition: 0.1s;
}
.login-box #closeIt:hover {
 color: var(--blue);
}
.login-box #closeIt i {
 cursor: pointer;
}
.login-box h2 {
 color: var(--title);
 margin-bottom: 1.8rem;
 font-weight: bold;
 font-size: 1.8rem;
}
.login-box .input-group {
 margin-bottom: 30px;
}
.login-box .input-group label {
 color: var(--title);
 font-size: 1rem;
 display: block;
 text-align: left;
 margin-bottom: 10px;
}
.login-box .input-group input {
 width: calc(100% - 10%);
 padding: 0 10px;
 border: 1px solid var(--border);
 height: 50px;
 border-radius: 5px;
 background-color: var(--bg);
 color: var(--title);
 font-size: 1rem;
 outline: none;
}
.login-box .input-group input:hover {
 border: 1px solid var(--blue);
}
.login-box .input-group input:focus {
 border: 1px solid rgba(255, 0, 0, 0.302);
 font-size: 0.9rem;
}
.login-box .input-group input:valid {
 border: 1px solid var(--blue);
}
.login-box .checkbox {
 display: flex;
 margin-bottom: 30px;
}
.login-box .checkbox input {
 margin-right: 5px;
 margin-left: 4px;
 height: 20px;
 width: 20px;
}
.login-box .checkbox label {
 font-size: 1rem;
 font-weight: 400;
 color: var(--title);
}
.login-box .checkbox label a {
 text-decoration: none;
 color: var(--blue);
}
.login-box .checkbox label a:hover {
 text-decoration: underline;
}
.login-box .login-btn,
.login-box .signup-btn {
 width: 100%;
 padding: 10px;
 border: none;
 background-color: var(--blue);
 color: #fff;
 font-size: 16px;
 border-radius: 5px;
 cursor: pointer;
}
.login-box .signup-btn:hover,
.login-box .login-btn:hover {
 background-color: var(--hover);
}
.login-box .signup-link,
.login-box .login-link {
 margin-top: 15px;
 color: var(--title);
}
.login-box .signup-link a,
.login-box .login-link a {
 color: var(--hover);
 text-decoration: none;
}
.login-box .signup-link a:hover,
.login-box .login-link a:hover {
 text-decoration: underline;
}
/* Home */
.home {
 padding: var(--padding);
}
.home .container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.home .home-content {
 margin-right: 10px;
}
.home .home-content .title {
 color: var(--title);
 font-size: 3.5rem;
 font-weight: bold;
 margin-top: 1.5rem;
 margin-bottom: 0.8rem;
}
.home .home-content .sub-title {
 color: var(--subtitle);
 font-size: 1.5rem;
 line-height: 2.5rem;
 margin-bottom: 2.5rem;
}
.home .home-content .cta-button {
 padding: 1rem 2rem;
 background-color: var(--blue);
 color: #fff;
 text-decoration: none;
 font-weight: bold;
 border-radius: 5px;
}
.home .home-content .cta-button:hover {
 background-color: var(--hover);
}
/* Prices */
.prices {
 padding: var(--padding);
}
.prices .title {
 text-align: center;
 margin-bottom: 2.2rem;
 font-size: 2rem;
 color: var(--title);
}
.prices .price-box {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 1.5rem;
}
.prices .price-card {
 position: relative;
 display: flex;
 justify-content: center;
 padding: 1.1rem 0;
 border-radius: 10px;
 text-align: center;
 height: 20%;
 width: 20%;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.167);
}
.prices .price-card::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: linear-gradient(
  to bottom,
  rgb(251 251 251 / 0%),
  rgb(249 249 249 / 4%)
 );
}
.prices .price-card:hover {
 background: linear-gradient(
  to bottom,
  rgb(251 251 251 / 0%),
  rgba(249, 249, 249, 0.12)
 );
}
.prices .price-card .price-content {
 margin-left: 0.5rem;
}
.prices .price-card .title {
 font-size: 1.5rem;
 margin-bottom: 0.4rem;
 color: var(--title);
}
.prices .price-card .sub-title {
 font-size: 20px;
 color: var(--subtitle);
}
.prices .price-card .image img {
 max-width: 80px;
}
/* Subscribe Plan */
.subscribe-plans {
 padding: var(--padding);
}
.subscribe-plans .wrong-msg {
 position: fixed;
 inset: 0;
 color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 2rem;
 margin-left: 2rem;
 z-index: 9999;
 width: 20%;
 height: 10%;
 padding: 0.1rem;
 border-radius: 10px;
 background-color: rgb(147, 54, 54);
 transition: 0.5s;
 transform: translateX(-180%);
}
.subscribe-plans .wrong-msg.active {
 transform: translateX(0);
}
.subscribe-plans .wrong-msg .msg {
 font-size: 1.3rem;
 font-weight: bold;
}
.subscribe-plans .title {
 font-size: 2rem;
 margin-bottom: 2.5rem;
 color: var(--title);
 text-align: center;
}
.subscribe-plans .subscribe-box {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 1.1rem;
}
.subscribe-plans .subscribe-card {
 background: linear-gradient(
  to bottom,
  rgb(251 251 251 / 0%),
  rgb(249 249 249 / 0%)
 );
 border: 1px solid var(--blue);
 padding: 2rem 0;
 border-radius: 10px;
 width: 30%;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
 text-align: center;
}
.subscribe-plans .subscribe-card.active {
 background: rgba(20, 69, 247, 0.104);
}
.subscribe-plans .subscribe-card h3 {
 font-size: 1.5rem;
 margin-bottom: 0.2rem;
 color: var(--title);
}
.subscribe-plans .subscribe-card .sub-title {
 font-size: 0.9rem;
 margin-bottom: 2.5rem;
 color: var(--subtitle);
}
.subscribe-plans .subscribe-card .price {
 color: var(--title);
 font-size: 2rem;
 margin-bottom: 0.2rem;
}
.subscribe-plans .subscribe-card .time {
 color: var(--subtitle);
 font-size: 0.9rem;
 margin-bottom: 2.5rem;
}
.subscribe-plans .subscribe-card .features-list {
 list-style: none;
 margin-bottom: 2.5rem;
}
.subscribe-plans .subscribe-card .features-list li {
 margin-bottom: 1rem;
 color: var(--title);
 font-size: 1rem;
 text-align: start;
 margin-left: 1.2rem;
}
.subscribe-plans .subscribe-card .features-list li:before {
 font-family: "Font Awesome 5 Free";
 content: "\f00c";
 margin-right: 10px;
 font-weight: 900;
 color: var(--blue);
}
.subscribe-plans .subscribe-card .select-plan {
 display: inline-block;
 padding: 0.7rem 1.1rem;
 background-color: var(--blue);
 color: #fff;
 font-size: 1rem;
 font-weight: bold;
 text-decoration: none;
 border-radius: 5px;
}
.subscribe-plans .subscribe-card .select-plan:hover {
 background-color: var(--hover);
}
/* Testimonials */
.testimonials {
 padding: var(--padding);
 text-align: center;
 position: relative;
}
.testimonials .title {
 font-size: 2rem;
 margin-bottom: 2.5rem;
 color: var(--title);
}
.testimonials-box {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
 gap: 20px;
}
.testimonials-box .testimonial-card {
 background-color: var(--bg);
 padding: 1.5rem;
 border-radius: 10px;
 position: relative;
 text-align: center;
 margin-top: 1.4rem;
}
.testimonials-box .testimonial-card img {
 position: absolute;
 right: -10px;
 top: -50px;
 width: 100px;
 height: 100px;
 border-radius: 50%;
 border: 10px solid var(--primary);
}
.testimonials-box .testimonial-card h3 {
 font-size: 1.5rem;
 color: var(--title);
 margin-top: 2.3rem;
}
.testimonials-box .testimonial-card .user-title {
 font-size: 1rem;
 color: var(--blue);
}
.testimonials-box .testimonial-card .testimonial-text {
 font-size: 18px;
 color: var(--subtitle);
 margin: 1rem 0;
}
/* Call To Action */
.call-to-action {
 padding: var(--padding);
 background-color: var(--bg);
 text-align: center;
}
.call-to-action h2 {
 font-size: 2.5rem;
 margin-bottom: 0.7rem;
 color: var(--title);
}
.call-to-action p {
 font-size: 1.02rem;
 margin-bottom: 4rem;
 color: var(--subtitle);
}
.call-to-action .cta-button {
 padding: 1rem 2rem;
 background-color: var(--blue);
 color: #fff;
 text-decoration: none;
 font-size: 18px;
 font-weight: bold;
 border-radius: 5px;
 transition: 0.3s ease;
 cursor: pointer;
}
.call-to-action .cta-button:hover {
 background-color: var(--hover);
}
/* Footer */
.site-footer {
 padding: var(--padding);
}
.footer-box {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 100px;
}
.footer-box .footer-section .title {
 color: var(--title);
 font-size: 2rem;
 font-weight: bold;
 margin-bottom: 1rem;
}
.footer-box .footer-section .sub-title {
 color: var(--subtitle);
 font-size: 1rem;
 line-height: 1.5rem;
}
.footer-box .footer-section h3 {
 font-size: 1.5rem;
 margin-bottom: 0.7rem;
 color: var(--title);
 margin-bottom: 1rem;
}
.footer-section ul {
 list-style: none;
 padding: 0;
}
.footer-box .footer-section ul li {
 margin-bottom: 0.9rem;
}
.footer-box .footer-section ul li a {
 text-decoration: none;
 font-size: 1.1rem;
 color: var(--subtitle);
}
.footer-box .footer-section ul li a:hover {
 color: var(--hover);
}
.footer-box .social-icons {
 display: flex;
 gap: 10px;
}
/* Copyright */
.footer-bottom {
 text-align: center;
 margin-bottom: 1.2rem;
 border-top: 1px solid var(--border);
 padding-top: 1.2rem;
 font-size: 1.03rem;
 color: var(--subtitle);
}
/* Button */
.scroll2Top {
 background-color: var(--blue);
 cursor: pointer;
 width: 2.6rem;
 height: 2.6rem;
 border-radius: 50%;
 position: fixed;
 color: #fff;
 bottom: 2rem;
 right: -5%;
 text-align: center;
 border: 1px solid var(--border);
 font-size: 1.25rem;
}
.scroll2Top.active {
 right: 3%;
}
.scroll2Top:hover {
 background-color: var(--hover);
}
/* Media */
@media (max-width: 900px) {
 .home dotlottie-player {
  width: 380px !important;
  height: 380px !important;
 }
 .subscribe-plans .wrong-msg {
  width: 30%;
  height: 5%;
  padding: 0.8rem 0;
 }
 .login-box {
  width: 45%;
 }
 .scroll2Top {
  right: -15%;
 }
}
@media (max-width: 700px) {
 header .nav-bar,
 header .container .header-buttons #theme,
 header .container .header-buttons a {
  display: none;
 }
 header .header-buttons #menu {
  display: block;
 }
 header .login-box {
  width: 70%;
 }
 .home .home-content .title {
  font-size: 2.3rem;
  margin: 1rem 0;
 }
 .home .home-content .sub-title {
  font-size: 1rem;
 }
 .home dotlottie-player {
  display: none;
 }
 .prices .price-card {
  width: 30%;
 }
 .prices .price-card .image img {
  max-width: 50px;
 }
 .prices .price-card .price-content h3 {
  font-size: 1.2rem;
 }
 .prices .price-card .price-content p {
  font-size: 1.2rem;
 }
 .subscribe-plans .wrong-msg {
  width: 50%;
  height: 5%;
  padding: 0.8rem 0;
 }
 .subscribe-plans .wrong-msg .msg {
  font-size: 1.2rem;
  margin: 0 0.2rem;
 }
 .subscribe-plans .subscribe-card {
  width: 60%;
 }
 .testimonials-box .testimonial-card {
  padding: 0.5rem;
  margin: 0 1rem;
 }
 .testimonials-box .testimonial-card img {
  width: 80px;
  height: 80px;
 }
 .footer-box .footer-section .title {
  font-size: 1.2rem;
  display: flex;
 }
 .footer-box .footer-section .title i {
  margin-right: 5px;
 }
 .footer-box .footer-section .sub-title {
  font-size: 0.7rem;
 }
 .footer-box .footer-section h3 {
  font-size: 1.2rem;
 }
 .footer-box .footer-section ul li a {
  font-size: 0.9rem;
 }
 .footer-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
 }
 .scroll2Top {
  right: -12%;
 }
 .scroll2Top.active {
  right: 8%;
 }
}
@media (max-width: 500px) {
 .prices .price-card {
  width: 60%;
 }
 .subscribe-plans .subscribe-card {
  width: 80%;
 }
 .testimonials-box .testimonial-card {
  padding: 1rem;
  margin: 0 0.8rem;
 }
}
